@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto Mono', monospace;
}

.square-r-t::after {
  position: absolute;
  content: '';
  width: 8rem;
  height: 8rem;
  right: -2rem;
  top: -2rem;
  background-color: white;
}

.square-l-b::after {
  position: absolute;
  content: '';
  width: 8rem;
  height: 8rem;
  left: -2rem;
  bottom: -2rem;
  background-color: white;
}

.polka-l-b::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -2rem;
  bottom: -2rem;
  background-color: rgba(229, 229, 247, 0);
  opacity: 1;
  background-image: radial-gradient(
    #ffffff 0.45px,
    rgba(229, 229, 247, 0) 0.45px
  );
  background-size: 9px 9px;
}

.polka-r-l::before {
  position: absolute;
  content: '';
  width: calc(100% + 4rem);
  height: 100%;
  right: -2rem;
  left: -2rem;
  top: 0;
  bottom: 0;
  background-color: rgba(229, 229, 247, 0);
  opacity: 1;
  background-image: radial-gradient(
    #ffffff 0.45px,
    rgba(229, 229, 247, 0) 0.45px
  );
  background-size: 9px 9px;
}
